<%- include('../partials/boilerplate') %>
<body>
    <h1>DavidBook - Profile</h1>
    <img src=<%=user.img%> alt="User">
    <h3>Welcome, <%=user.username%>!</h3>
    <h4>About</h4>
    <p><%=user.aboutMe%></p>
</body>
</html>